<h4 style="text-align:center;"><a [routerLink]="['/listproducts']">Seguir comprando</a></h4>




<p-table [value]="productsShoppingCart">
    <ng-template pTemplate="header">
        <tr>
            <th>Producto</th>
            <th>Tipo Producto</th>
            <th>Municipio</th>
            <th>Cliente</th>
            <th>Cantidad</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.producto}}</td>
            <td>{{product.tipoProducto}}</td>
            <td>{{product.cliente}}</td>
            <td>{{product.municipio}}</td>
            <td>{{product.cantidad}}</td>
        </tr>
    </ng-template>
</p-table>

<h4 style="text-align:center;"><a [routerLink]="['']">Finalizar compra</a></h4>
