<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
  <button type="button" pButton label="Show" (click)="menu.toggle($event)"><i style="color: #74b6f8;font-size: x-large;" class="pi pi-bars"></i></button>
  <span style="color: #1976d2;padding-left: 5px;">MENU</span>
</div>


<div class="content" role="main">

  <router-outlet></router-outlet>

</div>

<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">Sitio web creado para Trabajo Fin de Grado de Ingeniería Informática en Universidad a Distancia de Madrid (UDIMA) por <a href="http://jpzambranosanchez.com/">Juan Pablo Zambrano Sánchez</a></div>




