
.car-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
}
.car-subtitle {
    margin: 0.25em 0 2em 0;
}


#pTabView{
    width: 80%;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.centerText {
    margin: auto;
    width: 80%;
    padding: 10px;
  }

agm-map {
    height: 300px;
  }

